<div class="myImag">
    <div class="container register">
        
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="/assets/Images/hos.jpg" alt="login" class="image">
                <!-- <h3>Welcome</h3>
                <p>code World..</p>
                <input type="button" name="back"  value="Login" /><br /> -->
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading"><img src="/assets/Images/logo3.jpg" class="logo_Imag" alt="Logo"/>&nbsp;Create Account &nbsp; <img src="/assets/Images/logo3.jpg" class="logo_Imag" alt="Logo1"/></h3> 
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" style="font-size: 14px;" autocomplete="off" placeholder="First Name" name="firstname" id="firstname" />
                                   
                                  
                               
                                </div>
                                <div class="form-group mb-3">
                                    <input type="email" class="form-control" style="font-size: 14px;" autocomplete="off" placeholder="Your Email"  name="emailid" id="emailid" />
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" class="form-control" style="font-size: 14px;" autocomplete="off" placeholder="Password"  name="password" id="password" />
                               
                                  
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" class="form-control" style="font-size: 14px;" autocomplete="off" placeholder="Password"  name="password" id="password" />
                               
                                  
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" style="font-size: 14px;" autocomplete="off" placeholder="Last Name"  name="lastname" id="lastname"/>
                              
                                </div>

                                <div class="form-group mb-3">
                                    <input type="text" minlength="10" maxlength="10" 
                                        class="form-control" placeholder="Mobile No" style="font-size: 14px;" autocomplete="off"  name="mobileno" id="mobileno" />
                                      
                              
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" minlength="10" maxlength="10" 
                                            class="form-control" placeholder="Mobile No" style="font-size: 14px;" autocomplete="off"  name="mobileno" id="mobileno" />
                                          
                                  
                                        </div>
                                        
                                <div class="form-group mb-3">
                                    <input type="password" class="form-control" placeholder="Confirm Password"
                                   id="confirmpassword" style="font-size: 14px;" autocomplete="off"  name="confirmpassword"/>
                                  
                                </div>

                                <div class="row">
                                    <div class="col mt-4">
                                        <button type="submit" class="btn btn-blue" >Submit</button>&nbsp;
                                        <button type="reset" class="btn btn-reset" >Reset</button>&nbsp;
                                        <button type="button" class="btn btn-cancel" >Cancel</button>
                    
                                    </div>
                    
                                </div>

<!-- <div>
                                <button type="submit" class="btnRegister"  (click)="registerUsers()">
                                    Register  </button></div> -->
                            </div>
                        </div>
                   
                    </div>
                
                </div>
           
            </div>
        
        </div>
    <!-- </form> -->
    </div>


    