<div class="imgportal">

    <div class="parent">

        <div class="div-1 test">
            <img src="assets/Images/photoH.png" alt="Avatar" style="width:100%">
            <div class="container" style="margin-top: 5px;">
                <h4><b>Jane Doe</b></h4>
                <p>Interior Designer</p>
            </div>
        </div>

        <div class="div-2 test" style=" padding: 10px; background-color: #98AFC7;">
            <div>
                <span
                    style="float: left;font-family: Mulish; font-weight: 500;font-size: 20px;color: white;">Doctor's</span>
                <span> <img src="assets/Images/images1.png" alt="Avatar"
                        style="width:30%; height: 35%; float: right; margin-top: -9px;"></span>

            </div>
        </div>

        <div class="test" style="background-color: #d2b4de;">
            <div class="" style="display: flex;">
                <span 
                    style="float: left;font-family: Mulish; font-weight: 500;font-size: 20px;color: white; margin-left: -18px;">Appointment</span>
                <span > <img src="assets/Images/Drcartoon.jpg" alt="Avatar"
                        class="img_right"></span>

            </div>
        </div>

        <div class="test" style="background-color: #fadbd8;">Div 4</div>

        <div class="test" style="background-color: #d6eaf8 ;">Div 5</div>
        
        <div class="test" style="background-color: #f6ddcc;">
            hi
        </div>

    </div>

</div>